@(id: Int, userId : Int)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Change</title>
</head>
<body>

    <center>
        <br>
        <h2>Enter New Password</h2>
        <form method="post" action="@routes.HomeController.setNewPasswordNow()">
            <input type="hidden" name="id" value="@id">
            <input type="hidden" name="userId" value="@userId">
            <input type="password" name="password" value="" placeholder="password" required><br><br>
            <input type="password" name="confirmPassword" value="" placeholder="confirm password" required><br><br>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </center>
</body>
</html>